ion-content {
    --background: black;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #D1CCCB;
    --bullet-background: #D1CCCB;
}

h2, p{
    color: #D1CCCB;
}

.intro-text-box {
    padding: 20px;
}