.compose-toolbar{
    --background:#1a1a1a;
    --border-color: #1a1a1a;
}
.form {
    --background:#1a1a1a;
    --border-color: #1a1a1a;
}

.compose-text-area {
    max-height: 100%;
    overflow: auto;
}